/* GIMP theme.css
 *
 * This file is written on GIMP startup and on every theme change.
 * It is NOT supposed to be edited manually. Edit your personal
 * gimp.css file instead (/home/marcelb/.config/GIMP/3.0/gimp.css).
 */

@import url("file:///nix/store/yxcv0rial83vk13vxgi1cg80zqkdf7n5-gimp-3.0.6/share/gimp/3.0/themes/Default/gimp-dark.css");
@import url("file:///nix/store/yxcv0rial83vk13vxgi1cg80zqkdf7n5-gimp-3.0.6/etc/gimp/3.0/gimp.css");

* { -gtk-icon-style: symbolic; }

/* prefer-dark-theme */


/* end of theme.css */
